<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{title}}</title>
</head>
<body>
    {{>nav}}
    {{test}}
    {{{body}}}
    <script src="/scripts/index.js"></script>
</body>
</html>